*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 300px;
}
input::placeholder{
    text-align: center;

}

.container{
    margin: 0 auto;
    max-width: 540px;
    padding: 0 20px;
}

.calc {
    padding-top: 100px;
}
.cals__inner {

    text-align: center;

}
.calc__title {
    margin-bottom: 45px;
    font-size: 32px;
}
.calc__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    margin: 5px;
    color: white;
    font-size: 24px;
}
.calc__btn:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.calc__out{
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid rgb(59, 59, 59);
    height: 50px;
    margin: 0px 5px 10px;
    font-size: 24px;
    max-width: 100%;
}



.calc__buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 80px);
}